In [1]:
# Carregar as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Configurações de visualização
sns.set_style('whitegrid')
plt.style.use('seaborn-v0_8-whitegrid')
plt.rcParams['figure.figsize'] = (10, 6)

In [3]:
# Carregar o dataset
df = pd.read_csv('vendas_eletronicos.csv')

In [4]:
# Exibir as primeiras 5 linhas para uma pré-visualização
print("Primeiras 5 linhas do dataset:")
print(df.head())

Primeiras 5 linhas do dataset:
   ID_Venda           Data_Venda                            ID_Cliente  \
0         1  2024-12-29 03:05:53  c00b3b5d-001c-449f-b337-6d10ca54c2f5
1         2  2024-09-13 19:39:18  d5090e1c-5750-460e-8d95-0f096f200a21
2         3  2025-07-18 13:50:46  613d34f9-2156-457b-ae15-195974c6998f
3         4  2025-05-01 23:02:28  57d92624-48b0-4fdc-bca5-0a4121b04fd7
4         5  2025-01-25 14:42:47  10198da6-edca-4f85-99d1-f8b8e23ea57e

           Nome_Cliente               Email_Cliente                País  \
0      Iwona Gute-Zobel  iwona.gute-zobel@yahoo.com      Republik Korea
1  Sig. Ricciotti Ponti      sig..ponti@outlook.com               Cipro
2          Volkmar Ring    volkmar.ring@hotmail.com              Gambia
3        Gonçalo Garcia    gonçalo.garcia@gmail.com  Polinésia Francesa
4        Marina Ribeiro    marina.ribeiro@gmail.com              Zâmbia

  Categoria_Produto                   Produto  Preço_Unitário  Quantidade  \
0         Celulares            Google Pixel 6           699.0           5
1         Celulares            OnePlus 10 Pro           750.0           2
2        Acessórios  Fone de Ouvido Bluetooth            50.0           1
3         Celulares            OnePlus 10 Pro           750.0           5
4         Celulares            Google Pixel 6           699.0           3

   Total_Venda
0       3495.0
1       1500.0
2         50.0
3       3750.0
4       2097.0

In [5]:
# Exibir informações sobre o dataset (tipos de dados, valores nulos, etc.)
print("\nInformações do dataset:")
print(df.info())

Informações do dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID_Venda           100000 non-null  int64
 1   Data_Venda         100000 non-null  object
 2   ID_Cliente         100000 non-null  object
 3   Nome_Cliente       100000 non-null  object
 4   Email_Cliente      100000 non-null  object
 5   País               100000 non-null  object
 6   Categoria_Produto  100000 non-null  object
 7   Produto            100000 non-null  object
 8   Preço_Unitário     100000 non-null  float64
 9   Quantidade         100000 non-null  int64
 10  Total_Venda        100000 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 8.4+ MB
None