In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import streamlit as st

In [3]:
dados = pd.read_csv("vendas_eletronicos.csv", encoding="utf-8")

In [4]:
dados.head()

,ID_Venda,Data_Venda,ID_Cliente,Nome_Cliente,Email_Cliente,País,Categoria_Produto,Produto,Preço_Unitário,Quantidade,Total_Venda
0,1,2025-01-10 06:29:18,cd0ff065-d934-4ca7-8221-cc32836e88d3,Guillaume Rey,margotgerard@example.net,Somalie,Celulares,Google Pixel 6,699.0,5,3495.0
1,2,2025-03-17 18:45:03,6de1cb89-d10e-43cd-84db-831abb94ed3c,Véronique Moreno,gdumont@example.net,Égypte,Acessórios,Smartwatch,150.0,3,450.0
2,3,2024-12-11 23:43:54,a5ff0aec-6ad6-4a7c-9a11-b9838e99db34,Josué Caldeira,diogo05@example.com,Santa Helena,Acessórios,Fone de Ouvido Bluetooth,50.0,2,100.0
3,4,2024-11-12 23:44:36,aee49ce6-9ee7-44b9-8026-383df5d629b8,Michael Chang,grimesrobert@example.net,Senegal,Acessórios,Power Bank 10000mAh,30.0,5,150.0
4,5,2025-04-01 14:23:05,174c8cfa-45a4-412b-b2f9-9826205d3c07,Justus Steinberg-Siering,seifertahmad@example.com,Westsahara,Celulares,Xiaomi 12,599.0,4,2396.0